<carousel>
  <slide>
    <img src="https://artaulysiahaan.files.wordpress.com/2013/06/langaugegee1.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>CONNECT!</h3>
      <p>Revolutionary learning system</p>
    </div>
  </slide>
  <slide>
    <img src="https://www.w3schools.com/css/trolltunga.jpg" alt="Second slide">
  </slide>
  <slide>
    <img src="https://www.w3schools.com/css/trolltunga.jpg" alt="Third slide">
  </slide>
</carousel>
<div class="row statistics">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading pan-header">Trending topics this week</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading pan-header">Most difficult languages</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
</div>
