@import '~variables';

.carousel-item {
  height: 500px;

  .item {
    text-align: center;
  }
}

.statistics {
  margin-top: 20px;

  .pan-header {
    font-size: 2em;
    background-color: $brand-gray-color;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
}
