<carousel>
  <slide>
    <img src="https://artaulysiahaan.files.wordpress.com/2013/06/langaugegee1.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>CONNECT!</h3>
      <p>Revolutionary learning system</p>
    </div>
  </slide>
  <slide>
    <img src="../../../assets/img/people.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Vast community</h3>
      <p>Quickly find a partner to train with!</p>
    </div>
  </slide>
  <slide>
    <img src="../../../assets/img/hello.png" alt="Third slide">
    <div class="carousel-caption dark">
      <h3></h3>
      <p>We speak more then 30 languages</p>
    </div>
  </slide>
</carousel>
<div class="row statistics">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading pan-header">Trending topics this week</div>
      <div class="panel-body">
        <div class="ab-spinner ab-spinner-small"  *ngIf="!trendingTopics.length">
          <div class="ab-spinner__element"></div>
        </div>
        <topic *ngFor="let topic of trendingTopics; let i = index; trackBy: trackByFn"
               [topic]="topic"></topic>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading pan-header">Most difficult languages</div>
      <div class="panel-body">
        <div class="ab-spinner ab-spinner-small"  *ngIf="!simplestLanguages.length">
          <div class="ab-spinner__element"></div>
        </div>
        <ul>
          <li *ngFor="let language of simplestLanguages; let i = index; trackBy: trackByFn">
            <span class="flag-icon" [ngClass]="'flag-icon-' + skill.language.code"></span>
            <h3 class="lang-name">{{ skill.language.name }}</h3>
          </li>
        </ul>
        <div ></div>
      </div>
    </div>
  </div>
</div>
