@import '~variables';

.cn-assign-lesson-page {

  .step {
    padding: 20px 10px;
    display: none;

    &.shown {
      display: block;
    }

    .topic-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
    }
  }

  .cn-employee {
    display: flex;
    align-items: center;

    .ab-photo {
      width: 5em;
      height: 5em;
    }
  }

  .submitButton {
    margin-bottom: 20px;
  }
}
