<div class="panel panel-default step">
  <h2>1. Choose who to train with</h2>
  <div class="cn-employee">
    <ab-photo src="{{ assignee.imgUrl }}"></ab-photo>
    <h3> <a class="ab-link" [routerLink]="['/profile', assignee.id ]">{{ assignee.name + " " + assignee.surname }}</a></h3>
  </div>
</div>
<div class="panel panel-default step">
  <h2>2. Choose language</h2>
  <div class="dropdown">
    <select class="form-control" (change)="onLanguageSelect($event)">
      <option value="0" disabled selected hidden>Language</option>
      <option *ngFor="let lesson of lessons; let i = index; trackBy: trackByFn">
        {{lesson}}
      </option>
    </select>
  </div>
</div>
<div class="panel panel-default step" [class.shown] = "languageSelected">

</div>
