<div class="ab-toolbar">
  <div class="ab-toolbar__left">
    <ul class="ab-list">
      <li class="ab-list__item ab-employees-bar__item">
        <a class="ab-link ab-employees-bar__switcher" href="#">
          <div class="ab-employees-bar__icon ab-employees-bar__icon_tree"></div>
        </a>
      </li>
      <li class="ab-list__item ab-employees-bar__item">
        <a class="ab-link ab-employees-bar__switcher" href="#">
          <div class="ab-employees-bar__icon ab-employees-bar__icon_table ab-employees-bar__icon_table_active"></div>
        </a>
      </li>
      <li class="ab-list__item ab-employees-bar__item">
        <a class="ab-link ab-employees-bar__switcher" href="#">
          <div class="ab-employees-bar__icon ab-employees-bar__icon_timelines"></div>
        </a>
      </li>
    </ul>
  </div>
  <div class="ab-toolbar__right">
    <ab-link-bar [links]="links"></ab-link-bar>
  </div>
</div>
