@import '~variables';

.ab-link-bar {
  &__item {
    margin: 0 2.2rem 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font: normal bold 1.4rem $secondary-font-family;
    text-transform: uppercase;
    color: $devil-gray-color;

    &_active,
    &:active {
      color: $brand-cyan-color;
      border-bottom: 2px solid $brand-cyan-color;
      padding: 0 0 1.2rem 0;
    }
  }
}
