<div class="ab-assignment__view ab-assignment__view_{{assignment.status}}"></div>
<div class="ab-assignment__content ab-assignment__content_{{assignment.status}} ab-type ab-type_{{assignment.activity.type.toLowerCase()}}_border">
  <div class="ab-assignment__info">
    <header class="ab-assignment__head">
      <h2 class="ab-assignment__type ab-type ab-type_{{assignment.activity.type.toLowerCase()}}">{{assignment.activity.type}}</h2>
      <ab-actions actionClassName="ab-assignment__action"></ab-actions>
    </header>
    <h4 class="ab-assignment__name">{{assignment.activity.name}}</h4>
    <div class="ab-assignment__avatar">
      <ab-avatar
        *ngIf="assignment.employee.name"
        photoSrc="{{assignment.employee.imgUrl}}"
        fullName="{{assignment.employee.name}}"
        currentRole="{{assignment.employee.role}}">
      </ab-avatar>
      <ab-avatar-plus
        *ngIf="!assignment.employee.name"
        currentRole="{{assignment.employee.role}}"
        type="{{assignment.activity.type}}">
      </ab-avatar-plus>
    </div>
  </div>
  <footer class="ab-assignment__footer">
    <ab-timeline
      [startDate]="timeLineStartDate"
      [endDate]="timeLineEndDate"
      [dataSeries]="timeline"
    ></ab-timeline>
  </footer>
</div>
