<div *ngIf="isLoading">
<h1>Your lesson will start shortly</h1>
  <div class="ab-spinner">
    <div class="ab-spinner__element"></div>
  </div>
</div>
<div [class.hidden]="isLoading">
  <div class="source-container">
    <div class="video-from">
      <h3>Your partner:</h3>
      <video #myvideo ></video>
    </div>
    <iframe src="https://www.youtube.com/embed/XGSy3_Czz8k">
    </iframe>
  </div>

  <!--<h1>Lesson id is {{mypeerid}}</h1>-->
    <div class="chat">
        <h2>Chat</h2>
        <div class="messages">

        </div>
        <input type="text" class="form-control" placeholder="Type your message here" aria-describedby="basic-addon1">
    </div>
</div>

<!--<input type="text" [(ngModel)]="anotherid">-->
<!--<button (click)="connect()">Connect</button>-->
<!--<button (click)="videoconnect()">VideoChat</button>-->

