@import '~variables';

.ab-activity {
  background: white;
  display: block;
  padding: 2rem;

  &__actions {
    text-align: right;
  }

  &__save {
    margin: 0 0 0 1rem;
  }

  &__timeline {
    margin: 0 0 2rem 0;
  }

  &__header {
    margin: 0 0 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__desc {
    margin: 0 0 2.2rem 0;
  }

  &__type-select {
    display: inline-block;
    margin: 0 1rem 0 0;
  }

  &__dropdown-button,
  &__editable-text {
    font: {
      size: 2.4rem;
      weight: 600;
    }
  }

  &__editable-text {
    color: $brand-gray-color;
  }

  &__action {
    font-size: 2.1rem;
    padding-right: 1.4rem;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;
  }

  &__weight-style {
    color: $devil-gray-color;
  }

  &__weight-sign {
    font-size: 1.6rem;
    margin: 0 1.6rem 0 0;
  }
}
