<ul class="ab-list ab-filter__list">
  <li class="ab-list__item ab-filter__item">
    <ab-check-item
      type="Local"
      count="10"
      updateCount="0"
      [checked]="true">
    </ab-check-item>
  </li>
  <li class="ab-list__item ab-filter__item">
    <ab-check-item
      type="CDP"
      count="15"
      updateCount="0"
      [checked]="false">
    </ab-check-item>
  </li>
  <li class="ab-list__item ab-filter__item">
    <ab-check-item
      type="RD"
      count="10"
      updateCount="0"
      [checked]="false">
    </ab-check-item>
  </li>
  <li class="ab-list__item ab-filter__item">
    <ab-check-item
      type="CC"
      count="3"
      updateCount="1"
      [checked]="false">
    </ab-check-item>
  </li>
  <li class="ab-list__item ab-filter__item">
    <ab-check-item
      type="HR"
      count="3"
      updateCount="0"
      [checked]="false">
    </ab-check-item>
  </li>
  <li class="ab-list__item ab-filter__item">
    <ab-check-item
      type="IP"
      count="50"
      updateCount="50"
      [checked]="false">
    </ab-check-item>
  </li>
</ul>
