<!--<div class="panel panel-default">-->
    <!--<div class="panel-heading">Search for a partner who matches you</div>-->
    <!--<div class="panel-body">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-6">-->
                <!--<div class="input-group">-->
                    <!--<select class="form-control" [(ngModel)]="selectedCustomRoot" (change)="onTopicSelect()" name="rootSelect">-->
                        <!--<option value="0" disabled selected hidden>Select lesson type</option>-->
                        <!--<option *ngFor="let rootTopic of rootTopics; let i = index; trackBy: trackByFn"-->
                                <!--[selected]="topicSelected.root === rootTopic.id" [ngValue]="rootTopic.id">-->
                            <!--{{rootTopic.name}}-->
                        <!--</option>-->
                    <!--</select>-->
                    <!--<input type="text" class="form-control" aria-label="...">-->
                <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.col-lg-6 &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->

        <!--<ul>-->
            <!--<li *ngFor="let result of results; let i = index; trackBy: trackByFn">-->
                <!--<cn-friend [friend]="result"></cn-friend>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

