<div class="cn-friend__container">
  <div>
    <ab-photo src="{{ friend.imgUrl }}"></ab-photo>
    <div class="cn-friend__name">
      <h3> <a class="ab-link" [routerLink]="['/profile', friend.id ]">{{ friend.name + " " + friend.surname }}</a></h3>
      <a class="ab-link">
        <div class="btn-group">
          <button type="button" class="btn btn-default">Message</button>
          <button type="button" class="btn btn-warning" [routerLink]="['/assign', friend.id]">Propose a lesson</button>
        </div>
      </a>
    </div>
  </div>
  <div>
    X
  </div>
</div>
