<ul class="ab-list ab-actions__actions">
  <li class="ab-list__item ab-actions__item {{actionClassName}}">
    <a class="ab-link ab-actions__action" href="#">
      <i class="fa fa-lock" aria-hidden="true"></i>
    </a>
  </li>
  <li class="ab-list__item ab-actions__item {{actionClassName}}">
    <a class="ab-link" href="#">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
  </li>
  <li class="ab-list__item ab-actions__item ab-actions__item_fix {{actionClassName}}">
    <a class="ab-link" href="#">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
  </li>
</ul>
