@import '~variables';

.ab-actions {
  &__item {
    color: $lighter-gray-color;
    font-size: 1.8rem;
    padding: 0 1rem 0 0;

    &_fix {
      vertical-align: .15rem;
      margin-left: -.3rem;
    }

    &:last-child {
      padding: 0;
    }

    &:hover {
      color: $cyan-color;
    }
  }
}
