<div *ngIf="user.name">
  <div class="row">
    <div class="col-sm-3">
      <ab-photo
        *ngIf="user.name"
        src="{{user.avatarUrl}}">
      </ab-photo>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <h1>
          {{user.name + ' ' + user.surname}}
        </h1>
        <div>Male</div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!isSelf">
    <button type="button" class="btn btn-success disabled">Connected</button>
    <button type="button" class="btn btn-warning enabled">Propose lesson</button>
  </div>
  <div class="row">
    <h2>My skills:</h2>
    <ul class="col-sm-12 list-group">
      <li class="list-group-item" *ngFor="let skill of user.skills; let i = index; trackBy: trackByFn"><cn-lang [skill]="skill"></cn-lang></li>
    </ul>
  </div>
  <div class="row">
    <h2>I want to learn:</h2>
  </div>
  <div class="row cn-profile-page__about">
    <div class="panel panel-default">
      <div class="panel-heading">About me</div>
      <div class="panel-body">...</div>
    </div>
  </div>
</div>

<div class="ab-spinner"  *ngIf="!user.name">
  <div class="ab-spinner__element"></div>
</div>



